@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');



:root{
  --color1: #fff;
  --color2: #e3d19d;
  --color3: #9a9999;
  --color4: #e39d9d;
  --fondo: #f2f2f2;
  --titlesmall: 20px;
  --fondof: #151515;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
  --lettersamll:14px
  
  
}


/*c6ac8f   color cafe
eae0d5 podria ser fondo

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

body {
  font-family: 'Poppins', sans-serif;
  background: var(--fondo);

}

img{
  vertical-align: top;
}


/* Preloader */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* Header */

header{
  width: 100%;
  height:600px;
  


  background-image: linear-gradient(180deg, #0000008c 0%, #000000b2 100%), url('img/header1.jpg');
  background-size: cover;
background-attachment: fixed;
  background-position: center;
  
    min-height: 80vh;
}

nav{
  z-index: 1000;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
  
}

.nav1{
  background: transparent;
  height: 80px;
  color:var(--color1);
  
}

nav.nav1 {
  position: relative;
  
}

.nav2{
  background: var(--fondof);
  height:100px;
  color:#000;
  }



@keyframes moverArriba{
  0%{
      opacity: 0;
      transform: translateY(100px);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}


@keyframes moverIzquierda{
  0%{
      opacity: 0;
      transform: translateX(100px);

  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width:1000px;
  height:inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
  color: var(--color1);
}

nav .enlaces a:hover{
  border-bottom: 2px solid rgb(235, 199, 127);
  transition: 0.6s;
}





.logo, .logo img{ 
  height:80px;
  animation: moverIzquierda 2.5s ease-in; 
}

.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.textos{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:var(--color3);
  overflow: hidden;
  text-align: center;
  font-size: 22px;
 
}

.textos>h1{
  font-size:80px;
  animation: moverArriba 2.5s ease-in;
  color: var(--color1)
}

.textos>h2{
  font-size: 30px; font-weight: 300;
  animation: moverArriba 2.5s ease-in;
  color: var(--color1)
}
span, samp{
  color: rgb(236, 190, 129);
  background: linear-gradient(45deg, #e9dd97,#e8d8ab, #af954d, rgb(104, 88, 40), #e5d4ae,rgb(181, 153, 55));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.parrafo{
  color: var(--color1);
}

.contenedor{
    width: 100%;
    overflow: hidden;
    padding: 90px;
}

.slider-contenedor{
    width: 100%;
    display: flex;
    position: relative;
    
}

.contenido-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}


  /* Contenedor y Slider */

  
.contenedor {
  margin: auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: left;  /* Cambiado de "center" a "left" */
  overflow: hidden;
}

.contenedor #titulo2,
.contenedor h3 {
  font-size: var(--titulos);
  margin-bottom: var(--espacios);
}

.contenedor #titulo2 {
  color: #332863;
}

.contenedor h3 {
  color: var(--color4);
}


.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color3);
}


  
  .contenido-slider {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-shrink: 0;
    padding-top: 30px;
}

.slider-contenedor{
padding: 60px 0;

}

.contenido-slider > img {
    width: 100%; /* Hacer la imagen responsive */
    max-width: 400px; /* Establecer un máximo para pantallas grandes */
    height: auto;
}

.contenido-slider > div {
    width: 40%;
    box-sizing: border-box; /* Asegurarse de que el padding y el borde no afecten al ancho */
    padding: 0 20px; /* Añadir espacio alrededor del contenido */
}

.contenido-slider h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a {
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a {
    background-color:var(--color4) ;
    color: var(--color1);
}




/* Media Queries */


@media screen and (max-width: 700px) {


  .contenedor p{
    font-size: var(--lettersamll);
    font-weight: 300;
    color: var(--color3);
  }
    


.contenido-slider > img {
  max-width: 60%; /* Ajustar la imagen para pantallas medianas */
}

.contenedor #titulo2 {
  padding-top: 1.3em;
  color: #332863;
  font-size: var(--titlesmall);
  text-align: center;

}

.contenedor h3 {
  padding-top: 1.3em;
  color: var(--color4);
  font-size: var(--titlesmall);
  text-align: center;
}
.textos{
  font-size: var(--lettersamll);
  justify-content: center;
  font-weight: 900;
  
}


  .contenido-slider {
      flex-direction: column-reverse;
      height: 50%;
  }

  .contenido-slider > div {
      width: 80%;
  }
  .slider-contenedor{
    padding: 10px 0;
    
    }


    .contenido-slider a {
      font-size: var(--lettersamll);
    }


  .contenido-slider:nth-child(2) {
      flex-direction: column-reverse; /* Cambiar dirección para pantallas pequeñas */
  }

  .contenido-slider:nth-child(2) > div {
      width: 80%;

      
  }

  .contenido-slider {
   
    padding-bottom:90px;
}

.contenido-slider a {
  
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin: 20px auto; /* Ajuste para centrar vertical y horizontalmente */
  text-decoration: none;
}

}





/*FILTRO*/


.fragance {
  width: 100%;
  padding: 5em;
  background-color: var(--fondof);
  color: #fff;
}



.product-wrapper {
  width: 95%;
  margin: 0 auto;
}

.search-container {
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* Utiliza estos estilos actualizados */
.label {
  
    position: relative;
    display: grid;
    color: var(--color1);
    width: 40%; /* Ajustado a un 40% */
    padding: 1rem 0;
    grid-template-areas: "input";
    bottom: 190%;
    margin-right: 1em; /* Alineado con el botón de búsqueda */
    > * {
        grid-area: input;
    }
}


.input,
#search-input-women {
  background-color: transparent;
  width: 100%;
  padding: 1em 0.3em;
  border: none;
  outline: none;
  font: inherit;
  height: 100%;
  color: #fff;
  border-bottom: 2px solid #e3d19d;
}

.input:focus + .span,
#search-input-women:focus + .span-women,
.input:not(:placeholder-shown) + .span,
#search-input-women:not(:placeholder-shown) + .span-women {
  color: var(--color2);
  transform: translate(0, -200%) scale(0.8);
}

.span,
.span-women {
  position: absolute;
  left: 0.3em;
  bottom: 10%;
  color: var(--color1);
  transform: translate(0, -50%);
  pointer-events: none;
  transition: transform 0.3s, color 0.8s;
}

/* Agrega estilos específicos del segundo CSS */


#search-button {
  padding: 1em 2em;
  margin-left: 1em;
  
background: linear-gradient(45deg, #e9dd97,#e8d8ab, #af954d, rgb(104, 88, 40), #e5d4ae,rgb(181, 153, 55));
  border: none;
  color: var(--color1);
  font-weight: 750;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#search-button:hover {
  background-color: #1e1e1e;
  transform: scale(1.05);
}

#product-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-top: 1em;
}

.product-button {
  border: none;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: #1e1e1e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.product-button:hover {
  background-color: #3c3c3c;
  /*background: linear-gradient(45deg, #e9dd97,#e8d8ab, #af954d, rgb(104, 88, 40), #e5d4ae,rgb(181, 153, 55)); */
  border: none;
  color: #fff;
}

#product-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.product-card {
  background: rgb(32,32,32);
background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(22,22,22,1) 94%);
  max-width: 18em;
  margin-top: 1em;
  padding: 2em;
  border-radius: 5px;
  
    box-shadow: -15px 4px 2px rgba(0, 0, 0, 0.2);
}

.image-container {
  text-align: center;
}

.product-img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.product-info {
  padding-top: 1em;
  color: #fff;
}

.product-info h5 {
  font-weight: 500;
}

.buy-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #1e1e1e ;
  color: var(--color2);
  border: none;
  font-weight: 550;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buy-link {
  text-decoration: none; /* Elimina la subrayado de los enlaces */
  color: inherit; /* Usa el color por defecto del texto */
}
.buy-button:hover {
 /* background-color:var(--fondof)  OTRA OPCION*/
 
 background-color: var(--color2);
 color:var(--fondof);
 font-weight: 550;
}

.hide {
  display: none;
}












@media screen and (max-width: 720px) {

  .search-container {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .label {
    width: 30%;
    margin-right: 1em;
  }

  .input,
  #search-input-women {
    background-color: transparent;
    width: 160%;
    padding: 1em 0.3em;
    border: none;
    outline: none;
    font: inherit;
    height: 100%;
    color: #fff;
    border-bottom: 2px solid #e3d19d;
  }

  .input:focus + .span,
  #search-input-women:focus + .span-women,
  .input:not(:placeholder-shown) + .span,
  #search-input-women:not(:placeholder-shown) + .span-women {
    color: var(--color2);
    transform: translate(0, -200%) scale(0.8);
  }

  .span {
    position: absolute;
    left: 0em;
    bottom: 10%;
    color: var(--color1);
    transform: translate(0, -50%);
    pointer-events: none;
    transition: transform 0.3s, color 0.8s;
  }

  #search-button {
    width: 40%;
    padding-right: 5em;
    text-align: center;
    
background: linear-gradient(45deg, #e9dd97,#e8d8ab, #af954d, rgb(104, 88, 40), #e5d4ae,rgb(181, 153, 55));
    border: none;
    color: var(--color1);
    font-weight: 750;
    border-radius: 5px;
    cursor: pointer;
  }

  #search-button:hover {
    background-color: #1e1e1e;
    transform: scale(1.05);
  }
 

  #product-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
    margin: 0;
  }

  .product-button{
    width: 100%;
    width: calc(10% - 0.5em);
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: center;
    padding-right: 4.3em;
  }




  #product-list {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }

  .product-card{
    max-width: 1000%;
    margin-top: 1em;
    justify-content: center;
  }

  .product-info {
    text-align: center;
  }
}













/* styles.css */
.fragance-women {
    width: 100%;
    padding: 5em;
    background-color: var(--fondof);
}

.product-wrapper {
    width: 95%;
    margin: 0 auto;
}

.search-container-women {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.label-women {
    position: relative;
    display: grid;
    color: var(--color1);
    width: 40%; /* Ajustado a un 40% */
    padding: 1rem 0;
    grid-template-areas: "input";
    bottom: 190%;
    margin-right: 1em; /* Alineado con el botón de búsqueda */
    > * {
        grid-area: input;
    }
}

#search-input-women {
  
    background-color: transparent;
    width: 100%; /* Ocupa todo el espacio disponible */
    padding: 1em 0.3em;
    border: none;
    outline: none;
    font: inherit;
    height: 100%;
    border-bottom: 2px solid #e39d9d;
}

#search-input-women:focus + .span-women,
#search-input-women:not(:placeholder-shown) + .span-women {
    color: var(--color4);
    transform: translate(0, -200%) scale(0.8);
}

.span-women {
    position: absolute;
    left: 0.3em;
    bottom: 10%;
    transform: translate(0, -50%);
    pointer-events: none;
    transition: transform 0.3s, color 0.8s;
    color: var(--color1);
}

#search-button-women {
    padding: 1em 2em;
  
    background: linear-gradient(45deg, #ff69b4, #e69ec4, #ff6eb4, #d894b6,#db77ac);
    
    border: none;
    color: #ffffff;
    font-weight: 750;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

#search-button-women:hover {
    background-color: #1e1e1e;
    transform: scale(1.03 );
    
}

#product-buttons-women {
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente */
  gap: 1.5em;
  margin-top: 1em;
}


.product-button-women {
    border: 1px solid #1e1e1e;
    padding: 1em 2.2em;
    justify-content: center;
    border-radius: 3em;
    background-color: transparent;
    color: var(--color1);
    background-color: #1e1e1e;
    cursor: pointer;
    transition: background-color 2s;
}

.product-button-women:hover {
    
    background: linear-gradient(45deg, #ff69b4, #e69ec4, #ff6eb4, #db77ac, #d894b6);
    border: none;
    color: #ffffff;
}

.product-list-women {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}

.product-card-women {
  
  background: rgb(32,32,32);
  background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(22,22,22,1) 94%);
  box-shadow: -15px 4px 2px rgba(0, 0, 0, 0.2);
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  transition: box-shadow 2s ease; /* Modificado el tiempo de la transición */
}

.image-container-women {
    text-align: center;
}

.product-img-women {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.product-info-women {
    padding-top: 1em;
    color: var(--color1);
}

.product-info-women h5 {
    font-weight: 500;
}


.buy-button-women {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #1e1e1e;
  color: var(--color4);
  font-weight: 550;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buy-button-women:hover {
  background-color: var(--fondof);
}

.product-button-women.active,
.buy-button-women.active {
  background-color: #1e1e1e;
  color: #fff;
}

.hide {
    display: none;
}





   
/* Agrega estos estilos al final de tu archivo CSS, dentro de la media query para dispositivos móviles */
@media screen and (max-width: 720px) {
  .product-wrapper {
    width: 110%;
    padding: 1em;
    justify-content: center;
  }

  .search-container-women {
    display: flex;
    flex-direction: row; /* Cambiado a disposición de fila */
    align-items: center;
    justify-content: space-between; /* Espaciado uniforme entre elementos */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 1em;
  }

  .label-women {
    width: 30%;
    margin-right: 1em;
  }

  #search-input-women {
    width: 160%;
    margin-right: 1em; /* Añadido margen a la derecha del input */
  }

  #search-button-women {
    width: 40%;
    padding-right: 5em;
    text-align: center;

  }

  #product-buttons-women {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
    margin: 0;
  }

  .product-button-women {
    width: calc(45% - 0.5em);
    margin-bottom:0;
    font-size: 0.8em;

  }


  .product-list-women {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }

  .product-card-women {
    max-width: 100%;
    margin-top: 1em;
  }

  .product-info-women {
    text-align: center;
  }
}







.unique-product-container {
  width: 98%;
  height: 750px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  
  border-radius: 20px;
  background-color:var(--fondo);
}

.custom-product-wrapper {
  min-width: 32%;
  height: 100%;
  background-color:var(--color1);
  /*background: #f2f2f2;*/
  margin: 0 20px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
  
}

.custom-product-wrapper:hover{

  box-shadow: 2px 0 16px rgba(0, 0, 0, 0.3);
}




.custom-product-image-container {
  width: 100%;
  height: 70%;
  padding: 20px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  
}
.more-info{
  position: relative;
  bottom: 2em;
}


/* Estilos adicionales para la clase summary dentro de details */
.custom-product-wrapper details summary {
  font-size: 18px;
  cursor: pointer;
  color: var(--color4);
  outline: none;
  transition: color 0.3s, background-color 0.3s;
} 

/* Cambia el color de fondo cuando se hace hover */
.custom-product-wrapper details summary:hover {
  background-color: #f0f0f0;
}

/* Estilos adicionales para el contenido dentro de details */
.custom-product-wrapper details {
  margin-top: 10px;
  text-align: left;
  padding-left: 1.5em;
}

/* Estilos adicionales para el contenido dentro de details */
.custom-product-wrapper details p {
  margin: 0;
  padding: 5px;
}

/* Ajustes en caso de que .contenedor a no tenga estilos definidos */
.custom-product-wrapper a {
  text-decoration: underline;
  color: var(--color4);
}

/*COLOR OPCIONAL Ajustes en caso de que .contenedor a:hover no tenga estilos definidos */
.custom-product-wrapper a:hover {
  color: var(--color1); 
}

/* Estilos para el checkbox y la etiqueta de "Ver información..." */
.custom-product-wrapper .more-info-toggle {
  display: none;
}

.custom-product-wrapper .more-info-label {
  cursor: pointer;
  color: var(--color3);
  
  padding-left:2em;

}

/* Estilos para el contenido "más información" */
.custom-product-wrapper .more-info-content {
  display: none;
  padding-left: 2em;
}

.custom-product-wrapper .more-info-toggle:checked + .more-info-label + .more-info-content {
  display: block;
}

.custom-product-image-container img {
  width: 100%;
  object-fit: cover;
}


.custom-product-info{
  width: 90%;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: var(--color1);
}


.custom-product-actions {
  width: 90%;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: var(--color1);
  
  position: relative;
  bottom: 1.5em;
}

.custom-product-actions a {
  text-decoration: none;
  padding: 6px 14px;
  font-size: 15px;
  margin: 5px 0 0 20px;
  display: inline-block;
  background: linear-gradient(45deg, #e9dd97, #e8d8ab, #af954d, rgb(132, 115, 62), #e5d4ae, rgb(181, 153, 55));
  color: var(--color1);
  border-radius: 5px;
  position: relative;
  right: .6em;
  transition: background 3s ease; /* Duración de transición en la regla base */
}



@media (max-width: 768px) {
  
  .more-info{
    position: relative;
    bottom: 4em;
  }

  .custom-product-wrapper {
    min-width: 80%;
    margin: 0 10px 0 0;
    height: 80%;
  }
  .custom-product-info,
  .custom-product-actions {
    font-size: 16px;
  }
  .custom-product-actions {
    font-size: 16px;
    
    position: relative;
    bottom: 4em;
  }
  .custom-product-actions a {
    padding: 6px 10px;
  }

  .custom-product-image-container img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}










/* Footer */


footer{
background: #3c3c3c;  


}

.bodyy{
  min-height: 70vh;
  width: 100%;
  display: flex;
   
}


.form{
  background-color:#fff;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;

}
.form__container{
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form__title{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em;
  color: #fff;
}

.form__title2{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em;
  color: #3b3939;
}

.form__input{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}

.form__input--message{
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em;

}

.form__cta{
  background-color:#bdb3a9 ;
  color: #ffffff;
  border: none;;
  font-size: 1rem;
  padding: 1.7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400;

}


.marca-logo img{
  width: 100%;
}
.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}

.iconos img{
  width: 55px;
  /*padding: 15%; */
}

.iconos img:hover{

  transform: scale(1.1);
  transition: all ease 1.2s;
  cursor: pointer;
}

.fab{
  font-size:60px;
  color: #FFF;
  margin-bottom: var(--espacios);
  display: inline-block;
}

footer .footer p{
  margin-top:var(--espacios);
  color:   #fff;
}






@media screen and (max-width: 700px){
  .nav2{
    color: #fff;
  }


  

.bodyy{
  min-height: 70vh;
  width: 100%;
  display: flex;
     
}

.form{
  width: 70%;
  
}
  .icono{
    display:block;
    cursor: pointer;
    
    color: var(--color1);
  }

  .enlaces{
    position: fixed;
    top:80px;
    background-color:var(--color1);
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
    padding-top: 3em;
    font-weight: 700px;
   
  }

  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background-color:var(--color1);
    
  }
  
nav .enlaces a{
  color: var(--fondof);
}

  .textos>h1{
    font-size: 50px;
    position: relative;
    bottom: 1.2em;
  }
  .textos>h2{
    font-size:25px;
    position: relative;
    bottom: 1.5em;  
  }

  .content-card{
    width: 48%;
    margin-bottom:var(--margenes);
  }

  :root{
    --margenes: 30px;
  }
}

@media screen and (max-width: 500px){
  :root{
    --espacios-contenido: 25px;
  }

  .content-card{
    width: 90%;
  }

  .caja-servicios{
    width: 90%;
    margin-bottom: var(--margenes);
  }

  .cont-work{
    width: 85%;
  }




  .marca-logo{
    width: 80%;
  }

  .iconos{
    margin: auto;

  }

  .iconos img{
    width: 35px;
  }
}

@media screen and (max-width: 450px){
  .form{
    padding: 3.5em 1em;
  }
}


  